body {  
  padding-top: 0px;

}

canvas {
  
  background-color: #D7AEFE;
  border-radius: 10px;
}

/* Base styles for larger screens (e.g., desktops) */
.chart-container {
  position: relative;
  margin: 20px;
  height: 70vh;
  width: 60vw;
  display: flex;
  justify-content: center;
  align-items: center;
}


.bar-box{
  width: 100%;
  height: 100%;
}

/* Responsive adjustments for tablets and smaller devices */
@media (max-width: 1075px) {
  .chart-container {
    height: 70vh;
    width: 60vw;
  }
}

/* Responsive adjustments for mobile devices (phones) */
@media (max-width: 768px ) {
  body {
    padding-top: 0px; 
  }

  .dashboard-width {
    width: 60vw;

  }

  .chart-container {
    height: 80vh;
    width: 75vw;
    margin-left: 1rem;
    padding-left: 20rem;
    overflow-y: hidden;
    overflow-x: auto;
  }

  canvas {
    border-width: 1px;
  }

  .bar-box{
    width: 150vw;
    height: 55vh;
  }
}



