body {  
  padding-top: 0px;

}

canvas {
  
  background-color: #D7AEFE;
  border-radius: 10px;
}

/* Base styles for larger screens (e.g., desktops) */
.chart-container {
  position: relative;
  margin: 20px;
  height: 70vh;
  width: 60vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Responsive adjustments for tablets and smaller devices */
@media (max-width: 1075px) {
  .chart-container {
    height: 70vh;
    width: 60vw;
  }
}

/* Responsive adjustments for mobile devices (phones) */
@media (max-width: 768px ) {
  body {
    padding-top: 0px;
  }

  .chart-container {
    height: 60vh;
    width: 75vw;
    padding-left: 20px
  }

  canvas {
    border-width: 1px;
  }
}

/* Very small screens (e.g., phones in portrait mode) */
@media (max-width: 480px) {
  body {
    padding-top: 0px;
    display: flex;
    justify-items: center;
    align-items: center;
  }

  .chart-container {
    height: 100vh;
    width: 120vw;
    padding-left: 70px;
  }

  canvas {
    border-radius: 5px;
    border-width: 1px;
  }
}
@media (max-width: 375px) {
  body {
    padding-top: 20px;
    display: flex;
    justify-items: center;
    align-items: center;
  }

  .chart-container {
    height: 100vh;
    width: 160vw;
    padding-left: 70px;
  }

  canvas {
    border-radius: 5px;
    border-width: 1px;
  }
}
