body {  
  
  padding-top: 90px;
 
}

canvas {
  border: 2px dotted red;
  background-color: #D7AEFE;
  border-radius: 10px;
}

/* Base styles for larger screens (e.g., desktops) */
.chart-container {
  position: relative;
  margin: auto;
  height: 70vh;
  width: 60vw;
}

/* Responsive adjustments for tablets and smaller devices */
@media (max-width: 1024px) {
  .chart-container {
    height: 70vh;
    width: 80vw;
  }
}

/* Responsive adjustments for mobile devices (phones) */
@media (max-width: 768px) {
  body {
    padding-top: 50px;
  }

  .chart-container {
    height: 60vh;
    width: 90vw;
  }

  canvas {
    border-width: 1px;
  }
}

/* Very small screens (e.g., phones in portrait mode) */
@media (max-width: 480px) {
  body {
    padding-top: 30px;
  }

  .chart-container {
    height: 50vh;
    width: 95vw;
  }

  canvas {
    border-radius: 5px;
    border-width: 1px;
  }
}
